<h1>la liste est de {{classe}} dans la salle {{salle}} </h1>
{%if tab_formations is empty%}
<h6 style="color=coral">pas de formation>
{%else%}
    {% for i in tab_formations%}
    {%if i.Description=="theorique"%}
ref: {{i.ref|upper}}titre: {{i.Titre}}description: {{i.Description}}nombre participants:{{i.nb_participants}}
{%for j in tab_formations%}
{%if i.nb_participants>=j.nb_participants%}
<br>nombre de participants superieur {{i.nb_participants}}

Participer:
{%if i.nb_participants==0%}
<a href"{{path('app_reservation')}}">Participer</a>
{%else%}complet
{%endif%}
{%endif%}
{%endfor%}
{%endif%}

{%endfor%}
{%endif%}
<h5 style="color:blue">nombre de formation{{tab_formations|length}}
    {%set somme=0%}

    {% for t in tab_formations%}

    {%set somme = somme+t.nb_participants%}
     {%endfor%}
<h6 style="color:red"> nombre total de participants{{somme}}
   
