<a href="{{ path('add') }}">add</a>
<br>
{%for i in clasroom_tab%}
identifiant: {{i.id}}
name:{{i.name}}
description: {{i.description}}

<a href="{{ path('remove',{'id':i.id}) }}">Delete</a>
<a href="{{ path('update',{'id':i.id}) }}">Update</a><br>
{%endfor%}