<a href="{{ path('add_classroom') }}">add</a>
<br>
{%for i in clasroom_tab%}
identifiant: {{i.id}}
name:{{i.name}}
description: {{i.description}}

<a href="{{ path('delete_classroom',{'id':i.id}) }}">Delete</a>
<a href="{{ path('update_classroom',{'id':i.id}) }}">Update</a><br>
{%endfor%}
{%for s in student_tab%}
identifiant: {{s.nce}}
name:{{s.moyenne}}
description: {{s.username}}
{%endfor%}